/* VARIABELS */

:root {
  --Peach: #e7816b;
  --BLACK: #1d1c1e;
  --WHITE: #ffffff;
  --LIGHT-PEACH: #ffad9b;
  --DARK-GREY: #333136;
  --LIGHT-GREY: #f1f3f5;
  --box-bacground: #fdf3f0;

  /* fonts */
  --main-font-family: "Jost", sans-serif;

  /*transition*/
  --transition-duration: 0.3s;
}

@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost-v15-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jost-v15-latin-700.woff2") format("woff2");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px dotted var();
  outline-offset: 4px;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
}
/*NIRMOLIZE */

img {
  display: flex;
  object-fit: cover;
}
address {
  font-style: normal;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--main-font-family);
  color: var(--LIGHT-GREY);
  font-size: 16px;
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  font-family: var(--title-font-family);
  transition: var(--transition-duration);
}
.btn {
  color: var(--DARK-GREY);
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  width: 152px;
  height: 56px;
  padding: 17px 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 8px;
}

.btn:active {
  background-color: var(--LIGHT-PEACH);
}

.card-btn:active {
  background-color: var(--LIGHT-PEACH);
}

/*header*/
.header {
  margin-top: 64px;
  margin-bottom: 67px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: block;
}

.sitenav__list {
  display: flex;
  gap: 32px;
  color: var(--DARK-GREY);
  font-size: 14px;
  line-height: 14px; /* 100% */
  letter-spacing: 2px;
}
.sitenav-link {
  color: var(--DARK-GREY);
}

/*header end*/

/*footer*/
.footer {
}
.footer__wrapper {
  background-color: var(--BLACK);
  padding: 72px 164px;
  color: var(--LIGHT-GREY);
}
.footer__logo {
  margin-top: 60px;
}
.footer-link {
  margin-top: 60px;
  color: var(--WHITE);
  opacity: 0.5;
}
.footer-link:active {
  color: var(--LIGHT-PEACH);
}

.upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  font-size: 14px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px; /* 100% */
  letter-spacing: 2px;
}
.footer__list {
  display: flex;
  margin-top: 32px;
  width: 500px;
  gap: 60px;
  opacity: 0.5;
}
.footer__item {
  gap: 60px;
}
.footer__item-title {
  font-size: 14px;
  line-height: 14px; /* 100% */
  letter-spacing: 2px;
}
.footer__item-adres {
}
.social__links-list {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 60px;
}
.social__link-item {
}
.social__links {
  color: var(--WHITE);
}
.social__links:hover {
  opacity: 0.5;
}
.social__links:active {
  opacity: 0.8;
}
.tel {
  color: var(--WHITE);
}
.line {
  opacity: 0.5;
}
/*card*/

.card {
  width: 1111px;
  height: 252px;
  border-radius: 15px;
  background-color: var(--Peach);
  background-image: url("../images/shared/desktop/bg-pattern-small-circle.svg");
}
.design__links:active {
  background-color: var(--LIGHT-PEACH);
}
